@import "../../saas/color&fonts/Colors";
@import "../../saas/color&fonts/Fonts";
@import "../../saas//mixins/flex";
@import "../../saas//mixins/form.scss";
.expense-form{
   @include form;
  
    .type-div{
        width: auto;
        @include flex-col;
        align-items: flex-start;
        justify-content: flex-start;
        label{
            margin-left: 3.8rem;
        }
        .types{
            align-self: center !important;
            width: 20rem;
            margin-left: 2rem;
            @include flex-row;
            gap: 1rem;
        
            
        margin-top: 1rem;
        margin-inline: auto !important;
        span{
            background-color: $white;
            border-radius: 0.1rem;
            border: 1px solid $dark-black;
            padding: 0.2rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            cursor: pointer;
        }
        span:hover{
            border: 1px solid $light-green;
        }
        span.selected{
            border: 2px solid $light-green;
        }
        }
    }
}