@import "../../saas/color&fonts/Colors";
@import "../../saas/color&fonts/Fonts";
@import "../../saas//mixins/flex";

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 13rem;
    height: 6rem;
    background-color: $primary-background;
    @include flex2;
    font-family: $anton;
    .logo-div{
     
       
        width: 6rem;
        border-right: 2px solid $dark-black;
        height: 100%;
        padding: 0;
        @include flex;
        img{
      
            width: 2.5rem;
        }
    }
    .message-div{
        margin-left: 1.2rem;
        font-size: 1.3rem;
    }
   
.profile-img-div{
    position: absolute;
    right: 20rem;
    top: 1rem;
    img{
        width: 4.5rem;
        border-radius: 50%;
        background-color: $dark-black;
        border: 1px solid $dark-black;
        box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    }
}
}


