@import "../../App.scss";

.form{
    @include form;
    .form-buttons{
        @include flex-col;
        height: auto;
        button{
            @include button-1;
            border-radius: 0.2rem;
            margin-bottom: 1rem;
        }
        button:disabled{
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
    
}