//colors

$primary-background: rgb(227,140,185);

$secondar-background: rgb(248,206,239);

$dark-black: #100F0F;

$light-green: rgb(80,218,126);

$white: #ffffff;

$light-grey: #4e4e50;

$light-grey-2: #cdcdd3;