
@import "../../App.scss";

.all-expenses {
  width: 100%;
  font-family: $cairo !important;
  @include flex-col;

  div {
    @include flex-row;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .level-1 {
  }
  .level-2 {

    width: 90%;
    height: auto;
    padding-left: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0 !important;
    position: relative;
    .total{
        position: absolute;
        left: 25%;
        width: 6rem;
        @include flex-col;
        h6{
            margin: 0 !important;
            font-size: 1.1rem;
        }
        h3{
            font-weight: bolder !important;
        }

    }
    .expense-circle-div{
        width: 50%;
    }
    canvas {
      width: 450px;
      height: 500px !important;
    }
    .expense-info{
        width: 50%;
        @include flex-col;
        .color-info-div{
            width: 12rem;
            @include flex-row;
            align-items: center;
            justify-content: flex-start;
            span{
                margin: 0 !important;
                margin-left: 1rem !important;
                font-weight: 700;
               
            }

        }
    }
  }
}
