@import "../../App.scss";
.dashboard{
    width: 100%;
    height: auto;
    background-color: $secondar-background;
    @include flex-col;
    justify-content: space-around;
  
    font-family: inherit !important;
}